div .priceButton {
  /* background-color: aqua; */
  width: 95%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

div .prodInfo {
  /* background-color: brown; */
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: space-between;
  height: 100%;
}

span#estoque {
  font-size: 12px;
  color: black;

}

span#price {
  padding-top: 8px;
  color: black;

  font-weight: bold;

}

span#adicionar {
  /* background-color: blueviolet; */
  width: 100%;
}

div .card-footer {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  padding: 0 8px;
  height: 55px;
}

button#buttonCard {
  background-color: #f7d9d9;
  color: black;
  box-shadow: 0 0 10px black;


  border: none;
  margin-top: 11px;
  width: 100px;
  height: 40px;
  font-weight: bold;
  padding: 0;
  border-radius: 10px;
}
