html {
    background-color: #f7d9d9;
    

}
#root { 
    background-color: #f7d9d9;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;

}




